Source: uxdgmenu
Maintainer: ju1ius <jules.bernable@laposte.net>
Section: misc
Priority: optional
Standards-Version: 3.9.0
Build-Depends: debhelper (>= 7.3.8), libinotifytools0-dev, libglib2.0-dev

Package: uxdgmenu
Architecture: any
Depends: libinotifytools0, libglib2.0-0, python-xdg
Recommends: python-gtk2
Suggests: python-gmenu
Description: An automated XDG Menu system for alternative window managers.
 uxdgmenu monitors your installed applications, GTK bookmarks and/or recent files
 and maintains a menu, listing and categorizing them like the Gnome/Xfce/Lxde menu.
 This menu can be formatted for inclusion in a window manager's menu,
 or displayed directly through a GTK2 GUI
 .
  Currently supported formats are:
  * openbox
  * fluxbox
  * blackbox
  * window maker
  * awesome
  * ion3
  * fvwm2
  * pekwm
  * json
 .
 But more can be added through plugins.

